* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    width: fit-content;
}

main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    flex-direction: row;
    
}

header {
    font-family: 'Courier New', Courier, monospace;
    color: #00BFFF;
    font-size: 60px;
    background-color: black;
    padding: 60px;
}

/* Here a nav bar is being styled */
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #00BFFF;

}

nav ul {
    list-style-type:symbols(phone)
    padding: 30px;
}

nav ul li {

    float: left;
    font-size: 20px;

}

ul a {
    float: left;
    color: black;
    text-align: center;

    padding: 30px 30px;
    text-decoration: none;
    font-size: 25px;
    background-color: #00BFFF;
}

a:hover {
    background-color: yellowgreen;
}


.my-img {
    max-width: 700px;
    max-height: 950px;
    float: left;
    display: flex;
}

/* Added styling to all articles */

.trio {
    width: 400px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    float: right;
    justify-content: right;
    background-color: #D3D3D3;
    height: 950px;
}

h2 {
    font-size: 35px;
}


#image {
    width: 320px;
    height: 250px;
    margin: 10px;


}

.project-img {
    width: 220px;
    height: 175px;
    margin: 10px;


}

h3 {
    font-size: 25px;
}

@media screen and (max-width: 1000px) {
    .my-img {
        display: none;
    }
/* Makes Image disappear when screen is less then 1000px */
}

